body {
  margin: 0;
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
  background-color:	#333630;
  color:white;
}

.enemyHealth{
  float:right;
  margin:5px;
}

.playerHealth{
  float:left;
  margin:5px;
}
.progress-bar{
  display:inline-block;
  position:relative;
  height:10px;
  width:200px;


  border:1px solid white;
}
.bar{
  background-color: white;
  height:100%;
  border-radius:inherit;
  transition: width .2s ease-out;
}

.errorMessage{
  color:red;
}
.loadWrapper{
  padding:20px;
}
.bigLoadWrapper{
  padding:20px;
  height:210px;
  background-color:#303003;
}

.loadSpinner{
  display:inline-block;
  margin:10px;
  animation: App-logo-spin infinite 1s linear;
  border:1px solid red;
  height:10px;
  width:10px;
}
.bigLoadSpinner{
  display:inline-block;
  margin:10px;
  animation: App-logo-spin infinite 1s linear;
  border:2px solid red;
  height:50px;
  width:50px;
}

.submit{
  border:1px solid white;
  padding:5px;
  margin:10px;
  background-color:inherit;
  color:inherit;
  font-size:20px;
}

.submit:hover{
  background-color:white;
  color:#333630;
}


.problemSummary{
  position:relative;
  top:0px;
  left:0px;
  width:500px;
  height:250px;
}

.codeContainer{
  vertical-align: top;
  background-color:	#1b1b18;
  padding:5px;
  margin: 5px;
  display:inline-block;
  height:605px;
}

.gameContainer{
  vertical-align: top;
  background-color:	#1b1b18;
  padding:5px;
  margin:5px;
  display:inline-block;
  width:500px;
  height:605px;
}

.playerPortrait{
  display:inline-block;
  vertical-align: bottom;
  position:relative;
  left:0px;
  bottom:0px;
  height:170px;
  margin:0px;
  width:auto;
}
.enemyPortrait{
  display:inline-block;
  vertical-align: bottom;
  position:relative;
  float:right;
  right:0px;
  bottom:0px;
  height:170px;
  margin:0px;
  width:auto;
}
.combat{
  background-color:	#798679;
  padding:0px;
  width:500px;
  display:inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
